.profile-user{
    color: gray;
    margin-left: 10px;
}

.each-userpost-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-password-btn{
    background-color:  rgb(76, 166, 222);
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 8px 10px;
    margin-left: 10px;
    border-radius: 5px;
}